<div class="mt-4 ml-4 mr-4">
    {{!-- <form method="post" action='/sponsors'> --}}
    <form method="get">

        <div class="form-group">
            <label for="search-input">Email address</label>
            <input type="text"  name='q' class="form-control" id="search-input" aria-describedby="seachHelp"
                placeholder="What you want to search..">
            <small id="seachHelp" class="form-text text-muted">Input what you want to search.</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>